.skill {
    width: 100%;
    margin-top: 15px;
    &__name {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .progress {
        height: 8px;
        background-color: rgb(227, 222, 222);
        position: relative;
        &__bar {
            ///width: 85%;
            height: 8px;
            background-color: gold;
        }
    }
}