@import '../../../assets/sass/variables.scss';


.my__form {
   @media screen and (max-width: 750px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
  .header {
    @media screen and (max-width: 750px) {
      text-align: center;
  }
  }

.field__wrapper {
  margin-bottom: 1.5rem;
  .textarea__field {
    background: $formBackgroundColor;
    border: none;
    border-bottom: 1px rgb(49, 49, 49) solid;
    width: 80%;
    min-height: 30%;
    max-height: 30%;
    @media screen and (max-width: 750px) {
      width: 100%;
  }

  &:focus,
  &:-webkit-autofill {
    outline: none;
    background: $formBackgroundColor;
    -webkit-box-shadow: 0 0 0 30px  #f5df4e inset !important;
    }
  }
}

.btn {
    border-width: 2px;
    font-weight: 500;
    padding: 0.8rem 2.6rem;
    transition: all .5s ease;
    color: white;
    background: $backgroundColor;
    border: none;
    &:hover {
      background: rgb(49, 49, 49);
    }
    @media screen and (max-width: 750px) {
      display: block;
      margin: 0 auto;
    }
}
}