@import '../../assets/sass/variables.scss'; 

.main {
    background: rgb(222, 199, 210);
    height: 100vh;
    background: url('../../assets//images/background_img.jpg') center center/cover no-repeat;
    //filter: brightness(50%);
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        max-width: 350px;
        margin: 0 auto;
        white-space: nowrap; 

        span {
            font-size: 32px;
        }

        h1 {
            font-size: 70px;
        }

        p {
            font-size: 21px;
        }

        a  {
            background-color: $titleColor;
            border-color: $titleColor;
            color: #212529;
            padding: 10px 30px;
            text-decoration: none;
            font-size: 16px;
            font-family: 600;
        }
        @media screen and (max-width: 500px) {
            span {
                font-size: 20px;
            }
    
            h1 {
                font-size: 58px;
            }
    
            p {
                font-size: 16px;
            }
          }
        
        
    }

    .photo {
        width: 300px;
        height: 400px;
        background-color: darkgrey;
    }
}