.skillsBlock {
    min-height: 100vh;
    background: rgb(126, 225, 126);
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    color: #eeeef5;
    background: red;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: red 1px solid;
    width: 100%;
}