@import '../../assets//sass/variables.scss';

.skillsBlock {
    min-height: 100vh;
    background: rgb(248, 249, 250);
    padding: 6.5rem 0;

    .skillsContainer {
        justify-content: flex-start;
        flex-direction: column;

        
    }
}