@import '../../assets//sass/variables.scss';

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 80px;
    //background-color: $backgroundColor;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all 0.5s;

    .nav {
        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}

.color {
    background-color: $backgroundColor;
    transition: all 0.5s;
}