.title {
    background: blue;
}

.footer {
    height: 30vh;
    background-color: aqua;
}

.footerContainer {
    flex-direction: column;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.footerContent div {
    height: 30px;
    width: 30px;
    background-color: grey;
}