@import '../../assets/sass/variables.scss';

.footer {
    min-height: 25vh;
    background-color: $backgroundColor;

    .footerContainer {
        flex-direction: column;
        flex-wrap: nowrap;

        .title {
            font-size: 16px;
            color: $textColor;
        }

        .footerContent {
            display: flex;
            justify-content: space-between;
            width: 40%;

            @media screen and (max-width: 960px) {
                flex-direction: column;
            }

            a {
                display: flex;
                align-items: center;
                flex-direction: column;
                font-size: 16px;
                color: $textColor;
                text-decoration: none;

                @media screen and (max-width: 960px) {
                    margin-top: 5px;
                }
            }

        }

        h3 {
            font-size: 16px;
            color: rgb(162, 158, 158);
        }
    }
}