.aboutMe {
    padding: 6.5rem 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 600px) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
}

&__info {
   
    h2 {
        font-weight: 400;
    }
    span {
       font-weight: 700;
        text-decoration: underline;
        text-decoration-color: #f5df4e;
    }
    &_descr {
        width: 85%;
    }
    
}

&__exp {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 500;
        font-size: 18px;
        white-space: nowrap;
        h2 {
            margin: 10px 0 0 0;
             @media screen and (max-width: 800px) {
                font-size: 20px;
            }
        }

    &_circle {
    border-radius: 100%;
    background-color: #f5df4e;
    width: 113px;
    height: 132px;
    text-align: center;
    font-size: 100px;
}
}
    &__personal {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 24px;
        &_item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h3 {
                font-size: 16px;
                color: #6c757d;
                margin: 0;
            }
            div {
                font-weight: 600;       
            }         
        }
    }
}