.aboutMe {
    padding: 6.5rem 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
}

&__info {
   
    h2 {
        font-weight: 400;
    }
    span {
       font-weight: 700;
        text-decoration: underline;
        text-decoration-color: #f5df4e;
    }
    &_descr {
        width: 85%;
    }
    
}

&__exp {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 500;
        font-size: 18px;
        white-space: nowrap;
        h2 {
            margin: 10px 0 0 0;
        }

    &_circle {
    border-radius: 100%;
    background-color: #f5df4e;
    width: 113px;
    height: 132px;
    text-align: center;
    font-size: 100px;
}
}
}